*
{
    color: #f9d863;
}

.container1
{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    justify-content: center;
    align-items: center;
    margin-left: -1rem;  
}
.container1 div
{
    border: 5px solid rgba(4,184,191,255);
    height: -webkit-fill-available;
}
.container1 :nth-child(1)
{
    border-top: none;
    border-left: none;
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
    border-right: none;
    border-bottom: none;
    color: #f9d863;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    border: none;
    font-size: 6.5vw;
    background: rgba(54,3,104,255);
}
.container1 :nth-child(2)
{
    border-top: none; 
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
    border-right: none;
    border-bottom: none;
}
.container1 :nth-child(3)
{
    border-top: none;
    border-bottom: none;
    border-right: none;
    text-align: center; 
    height: fit-content;
    width: -webkit-fill-available; 
}
.container1 :nth-child(4)
{
    border-left: none; 
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
    border-bottom: none;
    border-right: none;
}
.container1 :nth-child(5)
{
    text-align: center;
    border-bottom: none;
    border-right: none;
    height:fit-content;
    width: -webkit-fill-available;
}
.container1 :nth-child(6)
{
    border-right: none;
    text-align: center;
    border-bottom: none;
    height: fit-content;
    width: -webkit-fill-available; 
}
.container1 :nth-child(7)
{
    border-bottom: none;
    border-left: none; 
    border-right: none;
    height: fit-content;
    width: -webkit-fill-available;
    text-align: center; 
}
.container1 :nth-child(8)
{
    border-bottom: none;
    border-right: none;
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
}
.container1 :nth-child(9)
{
    border-bottom: none;
    border-right: none;
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;     
}
#p1
{
    height: 2rem;
    width: 7rem;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
}
#p2
{   
    height: 2rem;
    width: 7rem;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
}
#resetbtn
{
    background: rgba(54,3,104,255);
    width: auto;
    height: auto;
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid #f9d863;
}
#header-h1
{
    font-weight: 900;
    font-family: Albireo Semi Condensed Extra Bold;
    font-size: 4re9m;
    text-align: center;
    color: yellow;  
}
.color
{
    background-color: blue  ;
}
#col-p1
{
    text-align: center;
}
#col-p2
{
    text-align: center;
}
#col-p3
{
    text-align: center;
}
#cr-div
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#cr-div2
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#cr1
{
    height: 16rem;
    width: fit-content;
    background: transparent;
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
#cr2
{
    height: 16rem;
    width: fit-content;
    background: transparent;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    right: 0;
}
#cr3
{
    height: 16rem;
    width: fit-content;
    background: transparent;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    bottom: 0;
}
#cr4
{
    height: 16rem;
    width: fit-content;
    background: transparent;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}
#cong
{
    height: fit-content;
    width: 9rem;
    background: transparent;
    position: absolute;
    z-index: 0;
    left: 35rem;
    top: 2rem;
    visibility: hidden;
}
#win
{
    padding-top: 4rem;
}

@media screen and (max-width: 767px) 
{
    #col-p1 {
        text-align: center;
        width: fit-content;
        
    }
    #col-p2 {
        text-align: center;
        width: fit-content;
        
    }
    #col-p3 {
        text-align: center;
        width: fit-content;
    }
}
@media screen and (max-width:575px) 
{
    #row1
    {
        display: flex;
        justify-content: space-around;
    }
    #cr1 {
        height: 11rem;
        width: fit-content;
        background: transparent;
        visibility: hidden;
        position: absolute;
        z-index: -1;
        
    }
    #cr2 {
        height: 11rem;
        width: fit-content;
        background: transparent;
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }
    #cr3 {
        height: 11rem;
        width: fit-content;
        background: transparent;
        visibility: hidden;
        position: absolute;
        z-index: -1;
        bottom: 8rem;
    }
    #cr4 {
        height: 11rem;
        width: fit-content;
        background: transparent;
        visibility: hidden;
        position: absolute;
        z-index: -1;
        bottom: 8rem;
    }
}
@media screen and (max-width:412px) 
{
    #col-p1 {
        text-align: center;
        width: 8rem;
    }
    #col-p2 {
        text-align: end;
        width: 6rem;
    }
    #resetbtn {
        background: rgba(54,3,104,255);
        width: auto;
        height: auto;
        font-size: 1.5rem;
        border-radius: 1rem;
        border: 2px solid #f9d863;
    }
    #col-p3 {
        text-align: center;
        /* width: fit-content; */
        width: 8rem;
        margin: 0;
    }
    #row1-col1-h2
    {
        font-size: 1.5rem;
    }
    #row1-col2-h2
    {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:351px) 
{
    #col-p1 {
        text-align: center;
        width: 7rem;
    }
    #row1-col1-h2 {
        font-size: 1.3rem;
    }
    #col-p2 {
        text-align: end;
        width: 5.9rem;
    }
    #resetbtn {
        background: rgba(54,3,104,255);
        width: auto;
        height: auto;
        font-size: 1.3rem;
        border-radius: 1rem;
        border: 2px solid #f9d863;
    }
    #col-p3 {
        text-align: center;
        /* width: fit-content; */
        width: 7.2rem;
        margin: 0;
    }
    #row1-col2-h2 {
        font-size: 1.3rem;
    }
    #cr3 {
        height: 11rem;
        width: fit-content;
        background: transparent;
        visibility: hidden;
        position: absolute;
        z-index: 0;
        bottom: 16rem;
    }
    #cr4 {
        height: 11rem;
        width: fit-content;
        background: transparent;
        visibility: hidden;
        position: absolute;
        z-index: 0;
        bottom: 16rem;
    }
}