.container1
{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-left: -1rem;
    padding-bottom: 9rem;
   
    /* font-size: 8vw; */
    /* color: black; */
   
}
.container1 div
{
    border: 5px solid black;
    height: -webkit-fill-available;
}
.container1 :nth-child(1)
{
    border-top: none;
    border-left: none;
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
    border-right: none;
    border-bottom: none;
    color: black;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    border: none;
    font-size: 8vw;
}
.container1 :nth-child(2)
{
    border-top: none; 
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
    border-right: none;
    border-bottom: none;
}
.container1 :nth-child(3)
{
    border-top: none;
    border-bottom: none;
    border-right: none;
    text-align: center; 
    height: fit-content;
    width: -webkit-fill-available; 
}
.container1 :nth-child(4)
{
    border-left: none; 
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
    border-bottom: none;
    border-right: none;
}
.container1 :nth-child(5)
{
    text-align: center;
    border-bottom: none;
    border-right: none;
    height:fit-content;
    width: -webkit-fill-available;
}
.container1 :nth-child(6)
{
    border-right: none;
    text-align: center;
    border-bottom: none;
    height: fit-content;
    width: -webkit-fill-available; 
}
.container1 :nth-child(7)
{
    border-bottom: none;
    border-left: none; 
    border-right: none;
    height: fit-content;
    width: -webkit-fill-available;
    text-align: center; 
}
.container1 :nth-child(8)
{
    border-bottom: none;
    border-right: none;
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;
}
.container1 :nth-child(9)
{
    border-bottom: none;
    border-right: none;
    text-align: center;
    height: fit-content;
    width: -webkit-fill-available;     
}
#p1
{
    height: 2rem;
    width: 7rem;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
}
#p2
{   
    height: 2rem;
    width: 7rem;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5rem;
}
#row1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;   
}
#row1-col1-h1
{
    font-size: 4.5rem;
}
#row1-col2-h1
{
    font-size: 4.5rem;
}
#resetbtn
{
    
    width: auto;
    height: auto;
    font-size: 2rem;
    border-radius: 1rem;
}
#header-h1
{
    font-size: 5rem;
    text-align: center;    
}